body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --he-inspire-red : #FF0026;
  --he-inspire-white: #FFFFFF;
  --he-inspire-gray: #2D2D2D;
  --he-supporting-gray: #D9D9D9;

}