.Companies {
    width: 100%;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: right;
}



.e-grid .e-gridpager .e-currentitem {
    background-color: var(--he-inspire-red);
}
