.content-container {
    margin: 30px 7.5% 30px 7.5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:10px;
  &.sidebar-open {
    margin-left: 350px; /* Set this to the same width as your sidebar */
  }
}



// Override Syncfusion styling
.btn-container {
    width: 100%;
    display: flex;
    justify-content: right;
}
.e-grid .e-gridpager .e-currentitem {
    background-color: var(--he-inspire-red);
}
.btn-grid-opt{
    background-color: var(--he-inspire-red);
    border: none;
}
/* Styling for checkboxes */
.e-checkbox-wrapper {
    display: flex;
    align-items: center;

    .e-frame.e-check {
      background-color: var(--he-inspire-red);
    }
    
  }

  .e-btn {
    color: white;
    background-color: var(--he-inspire-red);
  }
